@{
    Layout = "";
}
@model BoxNowInfoModel
<a href="javascript:;" class="boxnow-map-widget-button"></a>
<div id="boxnowmap" style=""></div>
<script src="/Plugins/Shipping.BoxNow/Content/js/BoxNowCheckout.js" asp-location="Footer"></script>